# Игнорировать файлы MacOS
.DS_Store

# Игнорировать бинарный файл сборки
badJokes

# Игнорировать файлы конфигурации IDE и редакторов
.idea/
.vscode/

# Игнорировать лог-файлы
*.log

# Игнорировать временные файлы
tmp/

.env